# File yang tidak perlu di-copy ke Docker image
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
node_modules/
dataset_gambar/
*.ipynb
train_history.png
images.jpg
logs/
.ipynb_checkpoints/